.Contacts{
    position: relative;
    z-index: 100;

    margin-bottom: 150px;
}

.contacts_wrapper{
    
}


.contacts_title__wrapper{
    margin-top: 100px;
    margin-bottom: 25px;

    font-size: 32px;
    font-weight: 500;

    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center; 
}
.contacts_title{

}
.contacts_span{
    color: var(--textColorSecond)
}
.contacts_title_line{
    width: 30%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--textColorSecond);
}


.contacts_content{
    display: flex;
    flex-direction: row;
}
.contacts_text__wrapper{
    width: 50%;
}
.contacts_text{
    color: var(--textColorGray);
}


.contacts_opport{
    width: 50%;
}
.contacts_opport__wrapper{
    position: relative;
}
.contacts_opport__title{
    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%);

    font-size: 18px;
}


.contact_decor__figures__container{
    position: relative;
}
.contact_decor__imgCircles{
    position: absolute;
    top: 100px;
    left: 55%;

    width: 500px;
    height: 500px;
    z-index: -10;

    transform: rotate(45deg);

    filter: invert(25%) blur(1.5px) drop-shadow(0px 0px 15px #4b4b4b);
}

/* MEDIA */
@media (max-width: 1100px){
    .Contacts{
        margin-bottom: 50px;
    }
    .contacts_opport{
        width: 270px;
        margin: 0 auto;
    }
    .contacts_opport__wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .contacts_opport__title{
        position: static;
        text-align: center;
        transform: translate(0);
    }
}
@media (max-width: 600px){
    .contacts_title__wrapper {
        margin-top: 50px;
    }
    .contacts_title_line {
        width: 45%;
    }
    .contacts_content{
        flex-direction: column;
        gap: 20px;
    }
    .contacts_text__wrapper{
        width: auto;
    }
}