.Skills{
    position: relative;
}
.skills_wrapper{
}
.skills_title__wrapper{
    margin-top: 100px;
    margin-bottom: 50px;

    font-size: 32px;
    font-weight: 500;

    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center; 
}
.skills_title{

}
.skills_span{
    color: var(--textColorSecond);
}
.skills_title_line{
    width: 80%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--textColorSecond);
}


.skills_content__wraper{
    position: relative;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skills_content__footer{
    margin-bottom: 25px;
}
.skills_footer__text{
    max-width: 80%;
    font-size: 18px;

    color: var(--textColorGray);
}


.skills_decor__figures__container{
    position: relative;
}
.skills_decor__imgCircles{
    position: absolute;
    top: 250px;
    right: -250px;

    width: 600px;
    height: 600px;

    z-index: -10;

    filter: invert(25%) blur(1.5px) drop-shadow(0px 0px 10px #777777);
}



/* MEDIA */
@media (max-width: 950px){
    .skills_content__main{
        column-count: 3;
    }
    .skills_content__wraper {
        height: 100%;
    }
}
@media (max-width: 720px){
    .skills_content__main {
        margin: 0 auto 15px auto;
        column-count: 2;
    }
}
@media (max-width: 600px){
    .skills_title__wrapper{
        margin-top: 70px;
    }
    .skills_title{
        font-size: 26px;
    }
    .skills_decor__imgCircles {
        right: -500px;
    }
}