.header{
    position: sticky;
    top: 0px;
    background: var(--headerBG);

    z-index: 1000;
}
.header_nav{
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;

    position: relative;
}
.header_logo{
    position: absolute;
    top: 15px;
    /* left: calc((100vw - 100%) / -2 + 10%); */
    left: calc((100vw - 70%) / -2 + 5%);
    
    width: 600px;
    height: 50px;
    text-align: center;

    transform:rotateZ(-11deg);

    background-color: var(--headerBG);
    z-index: 1;
}
.header_logo__text{
    font-size: 30px;
    padding-top: 13px;
}


.header_ul{
    width: auto;
    display: flex;
    flex-direction: row;

    gap: 32px;
}
.header_link{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    color: var(--textColorGray);
}
.header_link:hover{
    color: var(--textColorWhite);
}
.headerNav_span{
    color: var(--textColorSecond)
}

.header_decor{
    position: absolute;
    top: 0;
    left: 0;
}



.header_content{
    position: relative;
}

.header_leftDecor__container{
    position: absolute;
    top: 0;
    left: calc((100vw - 100%) / -2 + 1%);

    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 10px;
}
.header_waves{
    position: absolute;
    top: 0;
    left: 0;

    width: 500px;
    height: 100px;
    z-index: 10;
}

.header_leftDecor__line{
    width: 1px;
    height: 150px;
    
    background-color: var(--textColorGray);
}
.header_iconsUL{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header_svgIcon{
    width: 40px;
}