.Header{
    position: sticky;
    top: 0px;
    
    z-index: 9999;
    
    font-family: "LibreBodoni";
    font-weight: 500;
}
.header_wrapper{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    
    background: var(--headerBG);
    background-color: var(--headerBG);  
    backdrop-filter: saturate(180%) blur(20px);
}
.header_logo__img{
    filter: invert(100%)
}
.header_logo__text{
    font-size: 30px;
    color: var(--textColorSecond)
}

.headerNav_span{
    padding-right: 2px;
}

.header_decor{
    position: absolute;
    top: 0;
    left: 0;
}



.header_content{
    position: relative;
}

.header_leftDecor__container{
    position: absolute;
    top: 100%;
    left: calc((100vw - 100%) / -2 + 1%);

    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 10px;
}
.header_leftDecor__line{
    width: 1px;
    height: 100px;
    
    background-color: var(--textColorGray);
    z-index: -20;
}
.header_iconsUL{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header_svgIcon{
    width: 40px;
}


.header_link{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    color: var(--textColorGray);
    overflow: hidden;
    padding: 8px 12px;
}
.header_link:hover{
    color: var(--textColorWhite);
}
/* MEDIA  */
@media (max-width: 1500px){
    .header_waves{
        width: 370px;
    }
}
@media (max-width: 1350px){
    .header_waves{
        width: 300px;
    }
}
@media (max-width: 1200px){
    .header_waves{
        width: 270px;
    }
}
@media (max-width: 1000px){
    .header_waves{
        width: 270px;
    }
    .header_logo{
        top: 50%;
        left: 50%;
    
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 850px){
    .header_logo__text{
        font-size: 28px;
    }
    .header_leftDecor__line{
        height: 60px;
    }
    .header_leftDecor__container{
        display: none;
    }
}
@media (max-width: 600px){
    .container{
        padding: 0 20px;
    }
    .header_waves{
        transform: rotate(-8deg);   
        width: 360px;
        top: -25px;
    }
}