@import url('./assets/fonts.css'); /* Імпорт шрифтів */


/* #5bfb78 #a1f5e4 */
:root{
    --textColorSecond: #5bfb78;
    /* --textColorSecond: #C778DD; */
    --ColorSecondShade: #C778DD33;
    --textColorGray: #ABB2BF;
    --textColorWhite: #ffffff;
    /* --bgColor: rgba(40, 44, 51, 1); */
    --bgColor: rgba(40, 44, 51, 1);

    --container_width: 1200px;

    --headerBG: rgb(48, 53, 62);
}
html, body{
  font-size: 16px;
  font-family: 'FiraCode', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 26px;/*162.5%*/

  background-color: var(--bgColor);

  /* cursor: url(), auto; */
}
/* maybe change for % or with calc*/
.container{
    max-width: var(--container_width);
    padding: 0 30px;
    margin: 0 auto;
}
/* Зміна стилю курсора для всіх текстових елементів при наведенні */
p:hover,
h1:hover,
h2:hover,
span:hover {
    cursor: default; /* Застосовуємо стиль курсора, наприклад, як pointer (вказівник) */
}




.buttonSimple {
    transition: background 0.2s linear;
}
.buttonSimple:hover {
    background-color: var(--ColorSecondShade);
}

.buttonText{
    transition: opacity 0.1s linear;
}
.buttonText:hover{
    opacity: 0.7;
}