@import url('./assets/fonts.css'); /* Імпорт шрифтів */


/* #5bfb78 #a1f5e4 #333b38 #eeeeee #333333 #c1f285*/
:root{
    --textColorSecond: #c1f285;
    /* --textColorSecond: #C778DD; */
    /* --ColorSecondShade: #C778DD33; */
    --textColorGray: #ABB2BF;
    --textColorWhite: #ffffff;
    /* --bgColor: rgba(40, 44, 51, 1); */
    /* --bgColor: #333b38; */
    --bgColor: #333333;;
    --projectsWrappersBG: #3d3d3dfe;;

    --container_width: 1200px;

    /* --headerBG: rgb(48, 53, 62); */
    /* --headerBG: #242a28; */
    /* --headerBG: #292c2b; */
    --headerBG: rgba(41, 44, 43, 0.8);
}
html, body{
  height: 100%;


  font-size: 20px;
  /* CenturyExpanded, LibreBodoni */
  font-family: 'CenturyExpanded', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 26px;/*162.5%*/

  background-color: var(--bgColor);

  /* cursor: url(), auto; */
}
/* maybe change for % or with calc*/
.container{
    max-width: var(--container_width);
    padding: 0 30px;
    margin: 0 auto;
}


.buttonSimple {
    transition: opacity 0.05s linear;
}
.buttonSimple:hover {
    opacity: 0.6;
}

.buttonText{
    transition: opacity 0.05s linear;
}
.buttonText:hover{
    opacity: 0.7;
}





/* MEDIA */
@media (max-width: 1250px){
    .container{
        padding: 0 60px; 
    }
}